*.pyc
.Python

bin/activate
bin/activate.csh
bin/activate.fish
bin/activate_this.py
bin/easy_install
bin/easy_install-3.5
bin/f2py
bin/get_env_details
bin/iptest
bin/iptest3
bin/ipython
bin/ipython3
bin/pbr
bin/pip
bin/pip3
bin/pip3.5
bin/postactivate
bin/postdeactivate
bin/preactivate
bin/predeactivate
bin/python
bin/python-config
bin/python3
bin/python3.5
bin/theano-cache
bin/theano-nose
bin/theano-test
bin/virtualenv
bin/virtualenv-clone
bin/virtualenvwrapper.sh
bin/virtualenvwrapper_lazy.sh
bin/wheel
include
lib
share
